.content {
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 2vh;
  text-align: center;
  overflow-x: hidden;

  .info {
    width: 100%;
    padding: 25px 36px 6vh;
    box-sizing: border-box;
    h1 {
      font-size: 7vw;
      font-weight: 700;
      margin: 0px;
      padding: 0px;
      text-transform: uppercase;
      text-align: left;
    }

    p {
      font-family: $text-font;
      //font-weight: 700;
      font-size: 4vw;
      color: #6a6a6ab6;
      margin-top: 10px;
      padding: 0px 36px;
      text-align: left;
    }

    .description {
      p {
        padding: 0;
        text-align: left;
        font-size: 13px;
        margin-top: 15px;
      }
    }

    .collaborators {
      display: flex;
      width: 100%;
      justify-content: left;
      flex-wrap: wrap;
      margin: 5vh 0;
      p {
        display: inline-block;
        padding: 0;
        margin: 0.5vh 0;
        width: 50%;
        cursor: pointer;
      }
    }
    button {
      font-family: $text-font;
      height: 35px;
      width: 40vw;
      font-size: 14px;
      margin-top: 0px;
      font-weight: 700;
      color: $background-color;
      box-shadow: 2px 5px 6px #00000036;
      border: none;
      background-color: $primary-color;
      border-radius: 6px;
      position: relative;
      z-index: 0;
    }
  }

  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
  }
}
.swiper-container {
  height: 75%;
  overflow: visible !important;
  overflow-x: hidden;
}
.swiper-slide {
  height: 100%;
  width: 50vw;
  text-align: center;
  font-size: 18px;
  background: $background-color;
  float: left;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px 0;
}

.slide {
  width: calc(100vw - (2 * 36px));
  .image {
    overflow: hidden;
    height: 100vw;
    position: relative;
    display: flex;
    justify-content: center;

    img {
      filter: brightness(65%);
      -webkit-filter: brightness(40%);
      -moz-filter: brightness(65%);

      height: 50vh;
    }

    .img {
      height: 65vw;
      width: 65vw;
      margin: 20px 40px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      box-shadow: #0000002a 0px 3px 6px;
      cursor: pointer;
    }

    .up {
      position: absolute;
      left: 0px;
      top: 0px;
      border: 3px solid $primary-color;
      height: 50vw;
      width: 50vw;
      border-radius: 6px;
    }

    .down {
      position: absolute;
      right: 0%;
      bottom: 25%;
      border: 3px solid $primary-color;
      height: 50vw;
      width: 50vw;
      border-radius: 6px;
    }
  }
}
.swiper-pagination-bullet {
  background-color: $primary-color;
}
