@import "./scss/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&family=Work+Sans:wght@700&display=swap");

@import "./scss/animations/animations.scss";

@import "./scss/welcome.scss";
@import "./scss/nav.scss";
@import "./scss/library.scss";

body {
  margin: 0;
  background-color: $background-color;
  overflow-y: hidden;
  scrollbar-width: none;
  //width: calc((100vw + 471px) * 3);
  width: 500vw;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100vh;
}

#A,
#B {
  float: left;
}

.surface {
  height: 100vh;
  width: calc(100vw + 471px);
}

h1 {
  font-family: $title-font;
  font-weight: $title-weight;
  color: $primary-color;
  text-transform: uppercase;
}

h2 {
  color: white;
  font-family: $title-font;
  font-weight: $title-weight;
  text-transform: uppercase;
  font-size: 25px;
}

p {
  font-family: $text-font;
  color: $primary-color;
}

.content {
  width: 100vw;
  height: 100vh;
  float: left;
}
